@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  width: 80%;
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("/images/bg-intro-desktop.png") no-repeat center center/cover #ff7a7a;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a {
  color: #ff7a7a;
  font-weight: 700;
}

.left,
.right {
  width: 50%;
}

.left {
  color: white;
  margin-right: 50px;
}

.main-title {
  font-size: 48px;
  margin: 0 0 30px 0;
}

.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container form input {
  padding: 15px 20px;
  margin: 5px 0;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1rem;
  color: #3e3c49;
}

.form-container form input[type=submit] {
  background-color: #38cc8c;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.form-container form .input {
  width: 100%;
  position: relative;
}

.try-title {
  color: white;
  background-color: #6055a5;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.try-title span {
  font-weight: 700;
}

.terms {
  font-size: 12px;
  color: #b9b6d3;
}

img {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
}

.right-align {
  color: #ff7a7a;
  width: 100%;
  text-align: right !important;
  font-size: 14px;
  font-style: italic;
}

.error {
  visibility: hidden;
}

@media (max-width: 1160px) {
  body {
    width: 90%;
  }
}

@media (max-width: 960px) {
  body {
    width: 95%;
  }
  .main-title {
    font-size: 38px;
  }
}

@media (max-width: 786px) {
  body {
    background: url("/images/bg-intro-mobile.png") no-repeat center center/cover #ff7a7a;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .left {
    margin-right: 0;
  }
  .desc {
    margin-bottom: 30px;
  }
  .left,
  .right {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .main-title {
    font-size: 28px;
  }
  .desc,
  .try-title,
  .terms, .right-align {
    font-size: 12px;
  }
  .form-container form input {
    padding: 10px 15px;
  }
}

@media (max-width: 277px) {
  body {
    width: 95%;
  }
  .left, .right {
    width: 100%;
  }
  .form-container {
    padding: 5px 10px 20px 10px;
  }
}
/*# sourceMappingURL=style.css.map */